body {
	font-family: sans-serif;
	background-color: rgb(233, 241, 241);
}

body h1 {
	margin-left: 10%;
}

.container {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	margin-left: 5%;
	margin-right: 5%;
}

.row {
	display: flex;
	flex-direction: column;
}

.col-md-7 {
	display: flex;
}

/* .col-md-5 {
	display: flex;
	height: 0px;
} */

.bar-chart {
	width: 1100px;
	height: 670px;
	padding: 10px;
	padding-right: 40px;
}

.yearSlider {
	width: 40%;
	margin-left: 200px;
}

input[name=yearSelect] {
	width: 100%;
	/* overflow: hidden; */
    -webkit-appearance: none;
	background-color: darkgray;
	height: 5px;
	outline: none;
}

.yearDisplay {
	width: 60px;
	height: 30px;
	
	margin: 0 auto;
	
	font-size: 28px;
	/* font-family: sans-serif; */
	color: darkblue;
}

.tooltip {
	pointer-events: none;
}

.xaxis-class text {
	/* transform: rotate(-65deg); */
}


.pie-chart-area {
      /* margin:auto; */
	  /* display:inherit; */
	  width: 500px;
	  height: 450px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
	
.money-cell { 
	text-align: right; 
}
	
h2 { 
	text-align: center; 
}

#leg1 { background-color: #9A031E; }
#leg2 { background-color: #CB793A; }
#leg3 { background-color: #FCDC4D; }
#leg4 { background-color: #05668D; }
#leg5 { background-color: #139A43; }
#avLeg { background-color: rgb(52, 51, 53); }

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 768px) {
}

/* #page-main { margin-top: 10px; } */
