.bar-chart {
	width: 1300px;
	height: 670px;
	padding: 10px;
	padding-right: 40px;
}

.yearSlider {
	width: 40%;
	margin-left: 200px;
}

input[name=yearSelect] {
	width: 100%;
}

.yearDisplay {
	width: 60px;
	height: 30px;
	
	margin: 0 auto;
	
	font-size: 28px;
	font-family: sans-serif;
	color: SkyBlue;
}

.tooltip {
	pointer-events: none;
}

.xaxis-class text {
	/* transform: rotate(-65deg); */
}